@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.landing-page {
    background-color: #1f1f1f; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .question {
    font-size: 30px;
    color: #646464;
  }